body {
  background-color: #111927;
  background-image: radial-gradient(
      at 47% 33%,
      hsl(346, 40%, 39%) 0,
      transparent 59%
    ),
    radial-gradient(at 82% 65%, hsl(342.86, 44%, 25%) 0, transparent 55%);

  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-track {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background: #f7f4f3;
    border-radius: 24px;
  }
}

.glassmorphism {
  background: rgba(17, 25, 40, 0.6);
  border-radius: 1rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.glassmorphismChat {
  background-color: rgba(185, 185, 185, 0.11);
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.glassmorphismRed {
  background-color: rgba(156, 58, 81, 0.51);
  backdrop-filter: blur(17px) saturate(200%);
  -webkit-backdrop-filter: blur(17px) saturate(200%);
  border-radius: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.transparentGlass {
  background: rgba(255, 255, 255, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
}

/* Highlighted message */
.highlighted-message {
  background: rgba(156, 58, 81, 0.51);
  animation: highlightFade 1.5s forwards;
  pointer-events: none;
}
@keyframes highlightFade {
  from {
    transform: scale(1.2);
    opacity: 0.5;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.wrapper {
  height: 100vh;
  /* background: #000; */
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 120px minmax(60px, auto);
  grid-template-columns: 1fr 1fr;
}

.item {
  /* background: #fff; */
  display: flex;
  flex-flow: column;
}

.item__header {
  height: 20px;
  padding: 5px;
  border-bottom: 1px solid #afafaf;
}

.item__body {
  overflow: auto;
  height: 100%;
  padding: 5px;
}

.skeleton {
  --start-color: "colors.skeleton";
  --end-color: "colors.skeleton.100";
}
